<header class="border-b border-primary">
  <nav class="main-container py-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="/images/brand-logo-green-variant.png" alt="Brand Logo" class="w-12">
    </div>

    <div class="flex items-center gap-6">
      <ul class="flex font-medium text-text-600 gap-4">
        <li class="cursor-pointer" routerLink="dashboard">Dashboard</li>
        <li class="cursor-pointer" routerLink="parking">Parking</li>
        <li class="cursor-pointer" routerLink="reports">Reports</li>
      </ul>
  
      <img src="https://i.pinimg.com/736x/56/af/7e/56af7ed2c15a58fed21e8ffd0744bb1e.jpg" alt="ace" class="w-12 h-12 rounded-full border-primary border cursor-pointer">
    </div>
  </nav>
</header>