<header class="border-b border-primary">
  <nav class="main-container py-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="/images/brand-logo-green-variant.png" alt="Brand Logo" class="w-12 cursor-pointer" routerLink="/">
      <div class="flex flex-col">
        <h1 class="text-xl font-semibold">RICHMOND SQUARE PARKING</h1>
        <h2 class="text-md font-black text-primary">by Paradise Parking System</h2>
      </div>
    </div>

    <div class="flex items-center gap-6">
      <ul class="flex font-medium text-text-600 gap-4">
        <li class="cursor-pointer" routerLink="dashboard">Dashboard</li>
        <li class="cursor-pointer" routerLink="parking">Parking</li>
        <li class="cursor-pointer" routerLink="reports">Reports</li>
      </ul>

      @if (authService.isLoggedIn()) {
        <app-button 
          variant="danger"
          (click)="authService.logout()"
        >Logout</app-button>
      } @else {
        <app-button 
          variant="primary"
          routerLink="/login"
        >Login</app-button>
      }
    </div>
  </nav>
</header>