<section class="min-h-screen main-container">
  <div class="my-6 flex gap-4 items-center">
    <div class="bg-primary p-2.5 rounded-lg">
      <lucide-angular [img]="Car" class="w-8 h-8 text-white"></lucide-angular>
    </div>
    <div>
      <h1 class="text-2xl text-text-900">Parking Management</h1>
      <p class="mt-0.5 text-[16px] opacity-75 text-text-300">Track and manage vehicle parking</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
    <div class="flex items-center justify-between bg-white rounded-lg shadow-sm border border-slate-200 p-5">
      <div>
        <p class="text-text-300">Revenue Today</p>
        <p class="text-text-900 font-bold mt-1">P12</p>
      </div>
      <img src="/images/icons/revenue.png" alt="Revenue Icon" class="h-16">
    </div>

    <div class="flex items-center justify-between bg-white rounded-lg shadow-sm border border-slate-200 p-5">
      <div>
        <p class="text-text-300">Currently Parked</p>
        <p class="text-text-900 font-bold mt-1">3 Vehicles</p>
      </div>
      <img src="/images/icons/parked.png" alt="Revenue Icon" class="h-16">
    </div>

    <div class="flex items-center justify-between bg-white rounded-lg shadow-sm border border-slate-200 p-5">
      <div>
        <p class="text-text-300">Total Entries Today</p>
        <p class="text-text-900 font-bold mt-1">3</p>
      </div>
      <img src="/images/icons/entries.png" alt="Entries Icon" class="h-16">
    </div>
  </div>

  <app-parking-entry-form></app-parking-entry-form>

  <img src="/images/banners/active-banner.png" alt="Active Banner" class="hidden md:block w-full rounded-lg mt-6" />
  <img src="/images/banners/active-banner-mobile.png" alt="Active Banner" class="md:hidden w-full rounded-lg mt-6" />

  <div class="mt-6 md:w-1/2 grid grid-cols-2 gap-4">
    <div class="flex items-center gap-4 bg-white rounded-lg shadow-sm border border-slate-200 p-5">
      <lucide-angular [img]="Car" class="w-16 h-16"></lucide-angular>
      <span class="text-4xl font-medium">21</span>
    </div>

    <div class="flex items-center gap-4 bg-white rounded-lg shadow-sm border border-slate-200 p-5">
      <lucide-angular [img]="Motorbike" class="w-16 h-16"></lucide-angular>
      <span class="text-4xl font-medium">21</span>
    </div>
  </div>

  <div class="flex gap-3 items-center">
    <mat-form-field appearance="outline" class="w-full h-full mt-6">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyActiveSessionsFilter($event)" placeholder="Search by Plate or vehicle type..." #input>
    </mat-form-field>
    <lucide-angular [img]="ScanQrCode" class="w-12 h-12 cursor-pointer"></lucide-angular>
  </div>

  <div class="w-full overflow-x-auto bg-white rounded-lg shadow-sm border border-slate-200">
    <table cdk-table [dataSource]="activeSessionsDataSource" class="w-full border-collapse">
      <ng-container cdkColumnDef="vehicleType">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 font-bold text-sm w-12">
          @if (element.vehicleType == 'CAR') {
            <lucide-angular [img]="Car" class="w-8 h-8"></lucide-angular>
          } @else {
            <lucide-angular [img]="Motorbike" class="w-8 h-8"></lucide-angular>
          }
        </td>
      </ng-container>
      
      <ng-container cdkColumnDef="plateNumber">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">PLATE NUMBER</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 font-bold text-sm">{{element.plateNumber}}</td>
      </ng-container>

      <ng-container cdkColumnDef="enteredAt">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">ENTERED AT</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 text-sm">
          {{ element.enteredAt | date:'hh:mm:ss a' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">STATUS</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600">
          <span 
            class="px-3 py-2 rounded-md text-text-900 text-xs border"
            [ngClass]="{'bg-emerald-300 border-emerald-700': element.paymentStatus === 'PAID', 'bg-red-300 border-red-700': element.paymentStatus === 'OVERDUE', 'bg-slate-300 border-slate-700': element.paymentStatus === 'UNPAID'}"
          >
            {{ element.paymentStatus }}
          </span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">ACTIONS</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-3 text-text-600"> 
          <button (click)="exitSession(element.id)" class="px-4 py-2 rounded-md bg-danger-900 text-white font-bold cursor-pointer">
            Exit
          </button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="ACTIVE_SESSION_COLUMNS" class="bg-secondary"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: ACTIVE_SESSION_COLUMNS;" class="border-b border-slate-200 hover:bg-emerald-50 transition-colors"></tr>
    </table>
  </div>

  <img src="/images/banners/exited-banner.png" alt="Exited Banner" class="hidden md:block w-full rounded-lg mt-6" />
  <img src="/images/banners/exited-banner-mobile.png" alt="Exited Banner" class="md:hidden w-full rounded-lg mt-6" />

  <mat-form-field appearance="outline" class="w-full h-full mt-6">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyActiveSessionsFilter($event)" placeholder="Search by Plate or vehicle type..." #input>
  </mat-form-field>
  
  <div class="w-full overflow-x-auto bg-white rounded-lg shadow-sm border border-slate-200">
    <table cdk-table [dataSource]="exitedSessionsDataSource" class="w-full border-collapse">
      <ng-container cdkColumnDef="vehicleType">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 font-bold text-sm w-12">
          @if (element.vehicleType == 'CAR') {
            <lucide-angular [img]="Car" class="w-8 h-8"></lucide-angular>
          } @else {
            <lucide-angular [img]="Motorbike" class="w-8 h-8"></lucide-angular>
          }
        </td>
      </ng-container>

      <ng-container cdkColumnDef="plateNumber">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">PLATE NUMBER</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 font-bold text-sm">{{element.plateNumber}}</td>
      </ng-container>

      <ng-container cdkColumnDef="enteredAt">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">ENTERED AT</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 text-sm">
          {{ element.enteredAt | date:'hh:mm:ss a' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="exitedAt">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">EXITED AT</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 text-sm">
          {{ element.exitedAt | date:'hh:mm:ss a' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="duration">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">DURATION</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 text-sm"> {{ element.durationMinutes }} mins</td>
      </ng-container>

      <ng-container cdkColumnDef="fee">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">FEE</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600 text-sm"> {{ element.parkingFee }} </td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th cdk-header-cell *cdkHeaderCellDef class="text-left px-6 py-4 text-xs text-white whitespace-nowrap">STATUS</th>
        <td cdk-cell *cdkCellDef="let element" class="px-6 py-4 text-text-600">
          <span 
            class="px-3 py-2 rounded-md text-text-900 text-xs border"
            [ngClass]="{'bg-emerald-300 border-emerald-700': element.paymentStatus === 'PAID', 'bg-red-300 border-red-700': element.paymentStatus === 'OVERDUE', 'bg-slate-300 border-slate-700': element.paymentStatus === 'UNPAID'}"
          >
            {{ element.paymentStatus }}
          </span>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="EXITED_SESSION_COLUMNS" class="bg-secondary"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: EXITED_SESSION_COLUMNS;" class="border-b border-slate-200 hover:bg-emerald-50 transition-colors"></tr>
    </table>
  </div>
</section>