@import "tailwindcss";

@theme {
  --color-background: #F8FAFC;
  --color-primary: oklch(59.6% 0.145 163.225);
  --color-secondary: #72CF8E;
  --color-text-900: #0B161E;
  --color-text-300: #365261;
  --color-success-900: rgba(61 190 129 / 100%);
  --color-success-300: rgba(61 190 129 / 25%);
  --color-success-100: rgb(209 237 224);
  --color-danger-900: rgba(255 75 75 / 100%);
  --color-danger-300: rgba(255 75 75 / 25%);
  --color-danger-100: rgb(255 225 222);
}

.main-container {
  @apply px-4 mx-auto max-w-7xl w-full;
}

.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

body {
  background-color: var(--color-background);
}

.default-modal {
  border-radius: 8px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
  background-color: white; 
  padding: 1rem; 
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}